@font-face {
    font-family: 'dosisbold';
    src: url('../fonts/dosis/dosis-bold-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisextrabold';
    src: url('../fonts/dosis/dosis-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisextralight';
    src: url('../fonts/dosis/dosis-extralight-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosismedium';
    src: url('../fonts/dosis/dosis-medium-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosissemibold';
    src: url('../fonts/dosis/dosis-semibold-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ARVO */
@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arvobold_italic';
    src: url('../fonts/arvo/arvo-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arvoitalic';
    src: url('../fonts/arvo/arvo-italic-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arvoregular';
    src: url('../fonts/arvo/arvo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* CANTATA */
@font-face {
    font-family: 'cantata_oneregular';
    src: url('../fonts/cantata/cantataone-regular-webfont.woff2') format('woff2'),
         url('../fonts/cantata/cantataone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -ENDE FONTS- */


html{
height:100%;  
margin:0px;
padding: 0px;
border:0px;
}

body { 
margin:0px;
padding: 0px;
border:0px;
width:100%;
height:100%;
display: flex;
align-items: center;
justify-content: center;
background: #4ea5d9;
letter-spacing:2px;
word-spacing:3px;
 
/* 116%  entspricht dem NORMALwert */
line-height:116%;
 
/* !! unbedingt angeben, um zu verhindern, dass benutzerdefinierte
Systemschriften  verwendet werden.  */
font-family:arvobold, arvobold_italic, arvoregular, arvoitalic, cantata_oneregular, dosisbold, dosisregular, times, arial, helvetica, verdana, sans-serif;
 
/* eine prozentuale Angabe ist in der Lage das Seitendesign zu zerstören,
ABER ermöglich barrierefreie Darstellung (100%  = wie im Zielsystem vom Benutzer festgelegt)*/
font-size:16px;
background: black;
} 

#wrapper_donate{
background: white;
border-radius: 50%;
border: 8px solid white;
}

#donation_content{
width: 155px;
height: 155px;
border-radius: 50%;
border: 8px solid white;
display: flex;
align-items: center;
justify-content: center;
/* background: #F6C915; */
text-align: center;
background: #FFCA00;
}

img {
width: 100%;
height: auto;
}

#img_do_donate{
width: 80.0%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  body{background: white;}
  #wrapper_donate{background: #00A5CF; border: 8px solid #00A5CF;}
  #donation_content{border: 8px solid #00A5CF;}
}  


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px){
  /* GREEN */
  body{background: #00a878;}
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
 /* BLUE */
  body{background:  #4ea5d9;}
  
}
 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
  body{background: orange;}
   
}  

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{background:  #4ea5d9;}
   
}



